.wrap{
	width: 1010px;
	height: auto;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #ffff;
	font-family: Microsoft Yahei;
}
.wrap .section {
	margin-top: 20px;
	width: 100%;
	height: 570px;
}
.wrap .section1 {
	background: url(/Longyan/static/img/pages/pillar/section1.png) no-repeat center;
}
.wrap .section2 {
	background: url(/Longyan/static/img/pages/pillar/section2.png) no-repeat center;
}
.wrap .section3 {
	background: url(/Longyan/static/img/pages/pillar/section3.png) no-repeat center;
	margin-bottom: 40px;
}