.wrap{
	width: 1010px;
	height: auto;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #f4f4f4;
	font-family: Microsoft Yahei;
}
.section-title {
	font-size: 30px;
	color: #2592d7;
	text-align: center;
	margin: 20px auto;
}
.culture{
	position: relative;
	min-height: 260px;
	_height: 260px;
	width: 1000px;
}
.culture img{
	position: absolute;
	top: 10px;
	left: 20px;
	display: block;
	width: 372px;
	height: 204px;
}
.culture-left {
	margin-left: 445px;
}
.title{
	font-size: 30px;
	color: #2592d7;
	font-weight: normal;
}
.small-title{
	margin-top: 40px;
	color: #a5a5a5;
	font-weight: normal;
	font-size: 24px;
}
.culture p{
    margin-top: 10px;
    font-size: 14px;
}
.hope{
	width: 1000px;
	min-height: 320px;
	_height: 320px;
	position: relative;
	margin-top: 45px;
}
.hope-right {
	width: 580px;
	text-align: left;
}
.hope img{
	position: absolute;
	top: 0;
	right: 50px;
	display: block;
	width: 280px;
	height: 256px;
}
.color{
	color: #ffb830;
}
.our-hope {
	font-size: 24px;
	font-weight: normal;
}
.our-hope .color {
	font-size: 24px;
}
.small-text{
	margin-top: 8px;
	margin-bottom: 10px;
}
.hope p{
	font-size: 14px;
}
.hope h2{
	color: #666;
}
.business{
	width: 1000px;
	min-height: 300px;
	_height: 300px;
	position: relative;
	margin-top: 45px;
	margin-bottom: 20px;
}
.business img{
	width: 370px;
	height: 240px;
	display: block;
	position: absolute;
	top: 10px;
	left: 20px;
}
.business-right {
	margin-left: 445px;
}
.business h1{
	color: #2592d7;
	font-size: 30px;
	font-weight: normal;
}
.pre{
	margin-top: 30px;
	font-size: 24px;
	color: #a5a5a5;
}
.intro{
	font-size: 14px;
	margin-top: 10px;
}
.links {
	margin-bottom: 50px;
}
.links ul, .links li{
	list-style: none;
	display: inline-block;
}
.links li{
	margin-left: 10px;
	margin-top: 10px;
}
.links .left11px{
	margin-left: 11px;
}