.tool-bar .form-control {
	display: inline-block;
	width: 150px;
}
.tool-bar span {
	margin-left: 5px;
}
#site-form {
	width: 95px;
}
.column-info-pop {
	display: none;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.column-info-pop .column-info-pop-bg {
	position: fixed;
	z-index: 1001;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .2;
}
.column-info-pop .bd {
	position: fixed;
	width: 500px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -250px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	z-index: 1002;
}
.column-info-pop .bd .hd {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.column-info-pop .bd .hd span {
	font-size: 14px;
}
#close {
	margin-top: -5px;
}
.column-info-pop .content-bd {
	margin-top: 20px;
	position: relative;
}
.column-info-pop .content-bd table {
	width: 100%;
}
.content-bd table .right-align {
	text-align: right;
	width: 20%;
}
.content-bd table .star{
	color: red;
	padding-top: 6px;
	width: 5%;
}
.content-bd table .input-wrap {
	width: 50%;
}
table .input-wrap .form-control {
	width: 250px;
}
.btn-wrap {
	text-align: center;
	margin-top: 12px;
}
.content-bd table .err-lable {
	width: 25%;
	text-align: left;
	color: red;
	display: none;
}
#result {
	position: absolute;
	bottom: 0;
	right: 100px;
	display: none;
	color: red;
}

