body {
	min-height: 550px;
	font-family: Microsoft Yahei;
}
.top {
	width: 970px;
	margin: 0 auto;
	padding-left: 10px;
	background-color: #2592d7;
	color: #fff;
	font-family: Microsoft Yahei;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
}
.tip {
	border: 1px solid #f0e2bc;
	background: #fdfaf0;
	padding: 10px;
	color: #666;
	position: relative;
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
}
.content-wrap {
	width: 980px;
	margin: 20px auto;
	position: relative;
}
.content-wrap textarea {
	width: 500px;
	height: 160px;
	padding: 5px;
}
.content-wrap #feedback-submit {
	width: 130px;
	height: 38px;
	border: 0;
	display: block;
	float: right;
	overflow: hidden;
	text-decoration: none;
	vertical-align: middle;
	font-family: Microsoft Yahei;
	line-height: 36px;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
	background: #097cc5;
	border-radius: 3px;
	cursor: pointer;
	zoom: 1;
	text-align: center;
	position: absolute;
	bottom: -50px;
	left: 0;
}
.reply-list {
	width: 408px;
	height: 350px;
	position: absolute;
	padding: 20px;
	right: 148px;
	top: 136px;
	overflow: hidden;
	border: 1px solid #e6e6e6;
}
.reply-list .text {
	margin: 0;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px dashed #e6e6e6;
}
.list-box {
	width: 100%;
	height: 320px;
	overflow: auto;
	overflow-x: hidden;
	font-size: 12px;
}
.reply-item {
	padding: 5px;
	background-color: #fdfaf0;
	margin-bottom: 10px;
}
.time {
	color: #999;
}
.message {
	background-color: #f0e2bc;
	width: 350px;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0 10px 0;
}
.reply {
	background-color: #2592d7;
	width: 350px;
	padding: 5px;
	color: #fff;
	border-radius: 5px;
	margin: 5px 0 10px 38px;
}
.reply-box {
	position: relative;
}
.reply-box .time {
	display: block;
	text-align: right;
}

.footer {
	width: 980px;
	margin: 0 auto;
	margin-top: 250px;
	border-top: 1px solid #e6e6e6;
	text-align: center;
	font-size: 12px;
}