.PageNum {
	MARGIN: 20px 0px;
	TEXT-ALIGN: right
}

.PageNum a, .PageNum b {
	display: inline-block;
	line-height: 13px;
	padding: 6px 10px !important;
	border: 1px solid;
	border-color: #c9c9c9 #bdbdbd #b0b0b0 #bdbdbd;
	background-color: #f8f8f8;
	text-decoration: none;
	color: #666666;
	margin-right: 3px;
	border-radius: 3px;
	vertical-align: top;
}

.PageNum b {
	color: #fff !important;
	background: #488fcf !important;
	border-color: #2470b5 #488fcf #488fcf #488fcf;
}

.PageNum A:hover {
	color: #fff;
	background: #488fcf !important;
	border-color: #2470b5 #488fcf #488fcf #488fcf;
	text-decoration: none;
}
