.wrap{
	width: 1010px;
	height: auto;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #f4f4f4;
	font-family: Microsoft Yahei;
}
.culture{
	position: relative;
	min-height: 310px;
	_height: 310px;
	width: 1000px;
}
.culture img{
	position: absolute;
	top: 10px;
	left: 20px;
	display: block;
	width: 370px;
	height: 362px;
}
.culture-left {
	margin-left: 430px;
}
.title{
	font-size: 30px;
	color: #2592d7;
	font-weight: normal;
}
.small-title{
	margin-top: 40px;
	color: #a5a5a5;
	font-weight: normal;
	font-size: 24px;
}
.culture p{
    margin-top: 10px;
    font-size: 14px;
}
.hope{
	width: 1000px;
	min-height: 320px;
	_height: 320px;
	position: relative;
	margin-top: 90px;
}
.hope-right {
	width: 540px;
	text-align: right;
}
.hope img{
	position: absolute;
	top: 0;
	right: 50px;
	display: block;
	width: 320px;
	height: 262px;
}
.color{
	color: #ffb830;
}
.our-hope {
	font-size: 24px;
	font-weight: normal;
}
.our-hope .color {
	font-size: 24px;
}
.small-text{
	margin-top: 8px;
	margin-bottom: 10px;
}
.hope p{
	font-size: 14px;
}
.hope h2{
	color: #666;
}
.business{
	width: 1000px;
	min-height: 300px;
	_height: 300px;
	position: relative;
	margin-top: 60px;
	margin-bottom: 20px;
}
.business img{
	width: 292px;
	height: 244px;
	display: block;
	position: absolute;
	top: 10px;
	left: 20px;
}
.business-right {
	margin-left: 370px;
}
.business h1{
	color: #2592d7;
	font-size: 30px;
	font-weight: normal;
}
.pre{
	margin-top: 30px;
	font-size: 24px;
	color: #a5a5a5;
}
.intro{
	font-size: 14px;
	margin-top: 10px;
}